{% extends 'base.html' %}

{% block title %}List of all elections{% endblock %}

{% block content %}
<div class="container">
    <h1>All Elections List</h1>
    
    <form method="get" class="form-inline my-4">
        <label>
            <input type="text" name="q" class="form-control mr-sm-2" placeholder="Search by name" value="{{ query }}">
        </label>
        <button type="submit" class="btn btn-primary">Search</button>
        {% if query %}
            <a href="{% url 'all_elections' %}" class="btn btn-secondary ml-2">Reset</a>
        {% endif %}
    </form>

    <h2>Started Elections</h2>
    <div class="list-group mb-4">
        {% for election in started_elections %}
            <div class="list-group-item d-flex justify-content-between align-items-center border p-3 mb-2">
                <div>
                    <h5 class="mb-1">{{ election.name }}</h5>
                    <p class="mb-1">{{ election.type }} - {{ election.start_date|date:"Y-m-d" }} to {{ election.end_date|date:"Y-m-d" }}</p>
                    <small>Number of candidates: {{ election.candidates.count }}</small><br>
                    <small>Ends in: {{ election.end_date|timeuntil }}</small>
                </div>
                {% if request.user.is_authenticated %}
                    {% if request.user in election.eligible_voters.all %}
                        {% if election.id_election in user_voted_elections %}
                            <button type="button" class="btn btn-secondary" disabled>Already Voted</button>
                        {% else %}
                            <a href="{% url 'vote' election.id_election %}" class="btn btn-success">Vote</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% empty %}
            <div class="list-group-item">No started elections available.</div>
        {% endfor %}
    </div>

    <h2>Not Started Yet</h2>
    <div class="list-group">
        {% for election in no_started_elections %}
            <div class="list-group-item d-flex justify-content-between align-items-center border p-3 mb-2">
                <div>
                    <h5 class="mb-1">{{ election.name }}</h5>
                    <p class="mb-1">{{ election.type }} - {{ election.start_date|date:"Y-m-d" }} to {{ election.end_date|date:"Y-m-d" }}</p>
                    <small>Number of candidates: {{ election.candidates.count }}</small><br>
                    <small>Starts in: {{ election.start_date|timeuntil }}</small>
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">No elections available.</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
