<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Here you can add other header elements, such as a link to CSS stylesheets or JavaScript scripts -->

    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #333;
            color: #fff;
        }

        .header h1 {
            margin: 0;
        }

        .header a {
            color: #fff;
            text-decoration: none;
            margin-left: 20px;
        }
    </style>

</head>

<body>
<header>
    <div class="header">
        <h1><a href="{% url 'home' %}">eELECTIONS</a></h1>
        <div>
            {% if request.user.is_authenticated %}
                {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}">ADMIN PANEL</a>
                {% endif %}
                <a href="{% url 'logout' %}">LOGOUT</a>
            {% else %}
                <a href="{% url 'login' %}">LOGIN</a>
                <a href="{% url 'signup' %}">SIGN UP</a>
            {% endif %}
        </div>
    </div>
</header>

<main>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</main>

<footer>
    <!-- Here code our footer -->
</footer>

</body>
</html>
